<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <ul>
        <% for(let i of products){ %>
        <li>
        <img src="<%= i.image %>" alt="">
        <h2><%= i.name %> </h2>
        <h2><%= i.price %> </h2>
        <p><%= i.description %></p>
    </li>
    <% } %>
    </ul>
</body>
</html>