<% layout('layout/boilerplate') %>

<%- include('../partials/navbar') %>

<div class="row">
    <div class="col-6 mx-auto">
    <form action="/products" method="post" class="needs-validation"  novalidate>
        <div class="mb-3">
        <label for="name">Name:</label><br>
        <input type="text" name="name" id="name" required><br>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter the name field.
        </div>
        </div>

        <div class="mb-3">
        <label for="image">Image:</label><br>
        <input type="text" name="image" id="image" required><br>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter the name field.
        </div>
        </div>

        <div class="mb-3">
        <label for="price">Price:</label><br>
        <input type="text" name="price" id="price" required><br>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter the name field.
        </div>
        </div>

        <div class="mb-3">
        <label for="description">description:</label><br>
        <textarea name="description" id="description" cols="30" rows="10" required></textarea><br>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            Please enter the name field.
        </div>
        </div>
        <button class="btn btn-sm btn-success">Add Product</button>

    </form>
    </div>
</div>

<script>
    (() => {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    const forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.classList.add('was-validated')
        }, false)
    })
    })()
</script>
</body>
</html>